<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>InsertCar</servlet-name>
        <servlet-class>com.mycompany.rentacar.controladores.InsertCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUser</servlet-name>
        <servlet-class>com.mycompany.rentacar.controladores.InsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loguear</servlet-name>
        <servlet-class>com.mycompany.rentacar.controladores.Loguear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.mycompany.rentacar.forwards.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.mycompany.rentacar.forwards.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCar</servlet-name>
        <url-pattern>/InsertCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUser</servlet-name>
        <url-pattern>/InsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loguear</servlet-name>
        <url-pattern>/Loguear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
